@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;

}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <h2>The Amazing Spider-Man #700</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
                    <h5><label>Issue #:</label> @Model.IssueNumber</h5>
                    <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
                    <h5>Artists:</h5>
                    <div>
                        @if (Model.Artists.Length > 0)
                        {
                            <div>
                                <ul>
                                    @foreach (var arstist in Model.Artists)
                                    {
                                        <li>@arstist.Role: @arstist.Name  </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                <h5>Description:</h5>
                <div>@Html.Raw(Model.DescriptionHtml)</div>
            </div>
            <div class="col-md-6">
                <img src="/Images/@Model.CoverImageFileName">
                     alt="@Model.SeriesTitle #@Model.IssueNumber" class="img-responsive" />
            </div>
        </div>



    </div>
   
</body>
</html>
